$grey: #eff2f5;
$green: #a7c01b;
$dark-blue: #061b2d;
$light-blue: #0b3050;
$white: #fff;

$primary-color: $green;
$secondary-color: $dark-blue;
$secondary-color-light: $light-blue;
$primary-background-color: $grey;
$secondary-background-color: $white;